<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Codecool Shop</title>


    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/variables.less">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_bootswatch.scss">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
    <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    ></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Codecool shop</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="active"><a href='/index'><strong>All products</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse
                        by category<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="categ,iterStat : ${categories}">
                            <a th:attr="href='/index?category=' + ${categ.id}" th:text="${categ.name}">Category text</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Browse
                        by Supplier<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li th:each="supplier,iterStat : ${suppliers}">
                            <a th:attr="href='/index?supplier=' + ${supplier.id}" th:text="${supplier.name}">Category
                                text</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" id="search" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</nav>
<a class="navbar-form navbar-right shopping-cart" href="/cart"><i class="fas fa-cart-arrow-down fa-lg" th:text="${orderMem.getQuantityOfProducts()}">0</i></a>
<div id="products" class="row list-group">

    <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                 th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""/>
            <div class="caption">
                <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success" th:attr="href='/index?product=' + ${prod.id}">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

<script>
    function search(){
        search = document.querySelector("#search");

        search.addEventListener("keyup", function () {
            axios.get('/search', {
                params: {
                    keyWord: search.value
                }
            })
                .then(function (response) {
                    document.querySelector("#products").innerHTML = response.data;
                });
    });
    }
    search();
</script>

</body>
</html>