<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_variables.less">

    <link rel="stylesheet" href="https://bootswatch.com/3/flatly/_bootswatch.scss">

    <link rel="stylesheet" href="static/css/checkout.css">

    <title>Registration</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Codecool shop</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        </div>
    </div>
</nav>
<div class="container" style="margin-bottom: 15px">
    <div class="col-lg-6 col-lg-offset-3">
        <h3 class="bg-success text-white p-5">Personal Info</h3>
        <form action="/registration" method="post">
            <div class="form-group mx-auto">
                Username
                <input class="form-control" placeholder="Enter a username" type="text" name="username" required ><br>

                Password
                <input class="form-control" placeholder="Enter a username" type="password" name="password" required ><br>

                Name
                <input class="form-control" placeholder="Enter your name" type="text" name="name" required ><br>

                Email address
                <input class="form-control" placeholder="Enter email" type="text" name="email" required ><br>

                Phone Number
                <input class="form-control" placeholder="06-20-458-4578" type="text"  name="phonenumber" required ><br>
            </div>

            <div class="form-group">
                <h3 class="bg-success text-white p-5">Billing Address</h3>

                Country:<br>
                <input class="form-control" type="text" name="countryBill" required><br>

                City
                <input class="form-control" type="text" name="cityBill" required><br>

                Zipcode
                <input class="form-control" type="text" name="zipcodeBill" required><br>

                Address
                <input class="form-control" type="text" name="addressBill" required>
            </div>
            <button type="submit" value="Submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
</body>
</html>