<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Test</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous" defer></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js" integrity="sha384-CS0nxkpPy+xUkNGhObAISrkg/xjb3USVCwy+0/NMzd5VxgY4CMCyTkItmy5n0voC" crossorigin="anonymous" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Codecool Shop</h1>
    </div>

    <div class="container">
        <div class="well well-sm">
            <strong th:text="${category.name}">Category Title</strong>
        </div>

        <div id="products" class="row list-group">

            <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/energy_' + ${prod.id} + '.jpg'" alt="a" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                        <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="/test">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>